.contact_top1 {
  width: 1920px;
  max-width: calc(100% - 20%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-map-container {
  width: 1920px;
  max-width: calc(100% - 20%);
  margin: 0 auto;
}

.contact-heading {
  color: #f25e63;
  margin-bottom: 10px;
  font-size: 20px;
}

/*  */
.image {
  flex-shrink: 0;
  padding-left: 20px;
  text-align: center;
  margin-top: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
}

/*  */

.info {
  flex: 1;
}

.info h2 {
  text-align: left;
  font-size: 24px;
  color: #f25e63;
}

.form-map-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.form-container {
  flex: 1;
  padding: 20px;
}

.map-container {
  flex: 1;
}

.form-row {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border-style: 1px solid #2e3192;
  cursor: pointer;
  transition: all 0.4s linear;
}

.form-button:hover {
  border-style: 1px solid #2e3192;
  background-color: #ffffff;
}
.image {
  width: 30%;
}
@media (max-width: 768px) {
  .container-form {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-map-container {
    flex-direction: column;
  }

  .form-container {
    width: 100%;
    order: 2;
  }

  .map-container {
    order: 1;
    height: 300px;
  }

  .contact-image {
    max-width: 100%; /* Adjust the max-width as needed */
    height: auto;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-map-container {
    flex-direction: column;
  }

  .form-container {
    order: 1;
  }

  .map-container {
    order: 2;
    height: 300px;
  }
  .contact_top1 {
    display: block;
  }
  .image:first-child {
    width: 100%;
  }
  .image:nth-child(2) {
    display: none;
  }
  .contact_top {
    margin-top: 30px;
  }
}
