* {
  box-sizing: border-box;
}

.brand {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid rgb(161, 159, 159) 1px;
}
.product_list input {
  margin-right: 20px;
  width: 15px;
  height: 15px;
  color: black;
  background-color: white;
}
.type {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid rgb(161, 159, 159) 1px;
}
.fil_cost div,
.type div {
  margin-bottom: 5px;
}

.list-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
.size {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid rgb(161, 159, 159) 1px;
}
.color {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid rgb(161, 159, 159) 1px;
}
.color div {
  flex-direction: row;
  justify-content: space-between;
}
.fil_cost {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.none {
  display: none;
}
.block {
  display: flex;
}
.filter h2 {
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  .filter .block {
    display: none;
  }
  .filter .none {
    display: flex;
  }
}

.brand1 {
  display: flex;
  align-items: center;
}
.list-filter {
  cursor: pointer;
}
.type h2,
.fil_cost h2,
.ngoc {
  font-size: 25px;
  padding: 5px;
  color: lightcoral;
  font-weight: bold;
  text-transform: uppercase;
}
.brand_ngoc {
  font-size: 30px;
  padding: 5px;
  font-style: italic;
}
