/* Container chính */
.N-container {
  width: 1920px;
  max-width: calc(100% - 15%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Cột bên trái */

.newsDetail {
  display: block;
}
.newsDetail_img img {
  border-radius: 10px;
  margin: 10px 0;
}
/* Cột bên phải */
.container_content_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Phần tử tin tức bên trái */
.newsDataAll {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 450px;
}

.newsDataAll:hover {
  transform: scale(1.05);
}

.N-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.N-content {
  padding: 15px;
}

.N-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  /* height: 50px; */
}

.N-time,
.N-company {
  font-weight: bold;
}

.N-time,
.N-company,
.N-desc-r {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

/* Phần tử tin tức bên phải */
.newsDataAll-r {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 10px;
  background-color: #fff;
  align-items: center;
  justify-self: center;
}

.newsDataAll-r:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.itemLeft {
  display: inline-block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.N-content-r {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.N-title-r {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.N-time-r,
.N-company-r {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

/* Header phần bên phải */
.N-header-r {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.N-icon {
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
}

.N-heading-r {
  color: #ff5722;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  position: relative;
  line-height: 1;
  margin-bottom: 10px;
}

/* Pagination */
.pagination {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
}

.page-button {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-button:hover,
.page-button.active {
  background-color: #007bff;
  color: #fff;
}

.space {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .N-container {
    grid-template-columns: 1fr;
  }
  .container_content_left {
    grid-template-columns: 1fr;
  }
}
.newsDetail_heading {
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
  font-style: italic;
}
.newCard {
  display: flex;
}
.newsDetail_desc {
  font-size: 16px;
  text-align: justify;
  margin-top: 10px;
}
