* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* font-family: Oswald, sans-serif; */
}
body {
    font-size: 1rem;
}
a {
  text-decoration: none;
}
.container1 {
  width: 1920px;
  max-width: calc(100% - 15%);
  margin: 0 auto;
}
