.header-center {
  display: flex;
  justify-content: flex-start;
  flex-grow: 16;
  gap: 20px;
}
.pc {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
.h-c-title:hover {
  color: #f25b61;
  cursor: pointer;
}
.h-c-title {
  color: black;
  text-decoration: none;
}
.active-item {
  color: #f25b61;
}
