/* Footer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Oswald, sans-serif;
}
.footer {
  padding: 40px 60px 0 ;
  background-image: url("https://bizweb.dktcdn.net/100/493/370/themes/940719/assets/footers2_background.jpg?1713464283843");
  object-fit: contain;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer__row {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.6fr 0.6fr;
  column-gap: 60px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
.footer__column a img {
  width: 50%;
  margin-bottom: 20px;
}
.column1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__icon {
  font-size: 2rem;
  margin-right: 20px;
  margin-top: 20px;
  color: #fff;
}
.footer__desc {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.23;
  color: #a9b3bb;
}

.footer__heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.23;
  color: #fff;
}

.footer__list {
  margin-bottom: 28px;
}

.footer__link {
  font-size: 1.2rem;
  line-height: 1.23;
  color: #a9b3bb;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__social {
  display: flex;
  column-gap: 10px;
  margin-bottom: 28px;
}

.footer__social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #2e80ce;
  background: #fff;
  transition: 0.25s;
}

.footer__social-btn:hover {
  color: #fff;
  background: #2e80ce;
}

.footer-form {
  display: flex;
  column-gap: 12px;
  margin-top: 30px;
}

.footer-form__input {
  width: 212px;
  height: 46px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #406181;
  border-radius: 4px;
  color: #fff;
  background: transparent;
}
.footer-form__input:hover {
  opacity: 0.5;
}
.footer-form__input::placeholder {
  font-size: 1.2rem;
  line-height: 1.86;
  color: #9ca8b1;
}

.footer-form__submit {
  height: 46px;
  min-width: 120px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #2e80ce;
  background-color: #fff;
}
.footer-form__submit:hover {
  color: #fff;
  background-color: #2e80ce;
  cursor: pointer;
}
.footer__copyright {
  padding: 28px 0 28px;
  border-top: 1px solid #406181;
}

.footer__copyright-text {
  font-size: 1rem;
  line-height: 1.23;
  text-align: center;
  color: #aab3ba;
}
@media only screen and (max-width: 480px) {
  .footer {
    padding: 30px;
  }
  .footer__row {
    margin-left: 0px;
    grid-template-columns: 1fr;
  }
  .footer__column:nth-child(2),
  .footer__column:nth-child(3) {
    display: none;
  }
}
