.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.list12 {
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .card1 {
    width: 33%;
  }
}
@media only screen and (max-width: 766px) {
  .card123 {
    width: 50%;
    font-size: 14px;
  }
  .card123 .cost {
    gap: 0px;
  }
}

.card123 {
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:hover {
  background-color: #007bff;
  color: white;
}
