.PLHeader {
  padding-top: 100px;
  width: 100%;
  height: 50vh;
  background-image: url("https://bizweb.dktcdn.net/100/493/370/themes/940719/assets/main_collection_breadcrumb_bg.jpg?1713464283843");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
}
.PLHeader h1 {
  font-size: 4rem;
  font-weight: bold;
}
.PLHeader p {
  font-size: 3rem;
}
@media only screen and (max-width: 766px) {
  .PLHeader h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .PLHeader p {
    font-size: 1.8rem;
  }
}
